body {
    font-family: Arial;
    background-color:navajowhite;
    color: white;
    display: flex;
    justify-content: center;
    padding: 60px;
  }
  
  .container {
    text-align: center;
    width: 600px;
  }
  
  input {
    padding: 20px;
    width: 70%;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .result-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    gap: 30px;
  }
  
  .card {
    background: #2c2c2c;
    padding: 16px;
    border-radius: 10px;
    width: 180px;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
  }
  
